.content {
  margin-top: 0px;
  height: 510px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
h1 {
  margin-top: 100px;
  font-size: 56px;
  color: white;
}
h3 {
  font-size: 26px;
  width: 760px;
  color: white;
}
.start-for-free {
  margin-top: 40px;
  height: 70px;
  width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.2s;
}
.start-for-free:hover {
  color: rgba(0, 0, 0, 0.589);
  cursor: pointer;
}
